        img {
            width: 140px;
            height: 140px;
        }
        
        p:after {
            padding-top: 15px;
            margin-left: 25px;
            color:#fff;
            font-style:bold;
            content: "Denver";
        }
           
      @-webkit-keyframes holidayAnimation {
            from,
            to {
                -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            }
            16% {
                -webkit-transform: rotateY(-90deg);
                -moz-transform: rotateY(-90deg);
                -ms-transform: rotateY(-90deg);
                transform: rotateY(-90deg);
            }
            33% {
                -webkit-transform: rotateY(-90deg) rotateZ(90deg);
                -moz-transform: rotateY(-90deg) rotateZ(90deg);
                -ms-transform: rotateY(-90deg) rotateZ(90deg);
                transform: rotateY(-90deg) rotateZ(90deg);
            }
            50% {
                -webkit-transform: rotateY(-180deg) rotateZ(90deg);
                -moz-transform: rotateY(-180deg) rotateZ(90deg);
                -ms-transform: rotateY(-180deg) rotateZ(90deg);
                transform: rotateY(-180deg) rotateZ(90deg);
            }
            66% {
                -webkit-transform: rotateY(-270deg) rotateX(90deg);
                -moz-transform: rotateY(-270deg) rotateX(90deg);
                -ms-transform: rotateY(-270deg) rotateX(90deg);
                transform: rotateY(-270deg) rotateX(90deg);
            }
            83% {
                -webkit-transform: rotateX(90deg);
                -moz-transform: rotateX(90deg);
                -ms-transform: rotateX(90deg);
                transform: rotateX(90deg);
            }
             100% {
               -webkit-transform: rotateY(-180deg) rotateZ(90deg);
                -moz-transform: rotateY(-180deg) rotateZ(90deg);
                -ms-transform: rotateY(-180deg) rotateZ(90deg);
                transform: rotateY(-180deg) rotateZ(90deg);
            }           
        }
        
        @keyframes holidayAnimation {
            from,
            to {
                -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                -webkit-transform: rotateY(-90deg);
                transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            }
            16% {
                -moz-transform: rotateY(-90deg);
                -ms-transform: rotateY(-90deg);
                -webkit-transform: rotateY(-90deg);
                transform: rotateY(-90deg);
            }
            33% {
                -moz-transform: rotateY(-90deg) rotateZ(90deg);
                -ms-transform: rotateY(-90deg) rotateZ(90deg);
                -webkit-transform: rotateY(-90deg);
                transform: rotateY(-90deg) rotateZ(90deg);
            }
            50% {
                -moz-transform: rotateY(-180deg) rotateZ(90deg);
                -ms-transform: rotateY(-180deg) rotateZ(90deg);
                -webkit-transform: rotateY(-90deg);
                transform: rotateY(-180deg) rotateZ(90deg);
            }
            66% {
                -moz-transform: rotateY(-270deg) rotateX(90deg);
                -ms-transform: rotateY(-270deg) rotateX(90deg);
                -webkit-transform: rotateY(-90deg);
                transform: rotateY(-270deg) rotateX(90deg);
            }
            83% {
                -moz-transform: rotateX(90deg);
                -ms-transform: rotateX(90deg);
                -webkit-transform: rotateY(-90deg);
                transform: rotateX(90deg);
            }
             100% {
                -moz-transform: rotateY(-180deg) rotateZ(90deg);
                -ms-transform: rotateY(-180deg) rotateZ(90deg);
                -webkit-transform: rotateY(-90deg);
                transform: rotateY(-180deg) rotateZ(90deg);
            }           
            
        }
        
        .photoContainer {
            -webkit-animation-name: holidayAnimation;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-duration: 12s;
            animation-name: holidayAnimation;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 12s;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transform-origin: 60px 60px 0;
            -moz-transform-origin: 60px 60px 0;
            -ms-transform-origin: 60px 60px 0;
            transform-origin: 60px 60px 0
        }
        
        .photoContainer div {
            position: absolute;
            width: 140px;
            height: 140px;
            border: 1px solid #ccc;
            background: rgba(255, 255, 255, .8);
            box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
            text-align: center;
            font-size: 100px;
        }
        
        .photoContainer .photo1 {
            -webkit-transform: translateZ(60px);
            -moz-transform: translateZ(60px);
            -ms-transform: translateZ(60px);
            transform: translateZ(60px);
        }
        
        .photoContainer .photo2 {
            -webkit-transform: rotateY(90deg) translateZ(60px);
            -moz-transform: rotateY(90deg) translateZ(60px);
            -ms-transform: rotateY(90deg) translateZ(60px);
            transform: rotateY(90deg) translateZ(60px);
        }
        
        .photoContainer .photo3 {
            -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
            -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
            -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
            transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
        }
        
        .photoContainer .photo4 {
            -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
            -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
            -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
            transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
        }
        
        .photoContainer .photo5 {
            -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
            -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
            -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
            transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
        }
        
        .photoContainer .photo6 {
            -webkit-transform: rotateX(-90deg) translateZ(60px);
            -moz-transform: rotateX(-90deg) translateZ(60px);
            -ms-transform: rotateX(-90deg) translateZ(60px);
            transform: rotateX(-90deg) translateZ(60px);
        }
        
        
        body {
            width: auto;
            height: auto;
            display: block;
            background-color: #000;
            background-position: center top 140px;
            background-image: url('denver.gif');
            background-repeat: no-repeat;
        }
        
        .dvo {
            margin: 40px 0 0 300px;
        }

        /*
        @supports (-ms-accelerator:true) {
            .vo {
                margin: 40px 0 0 100px;
            }
        }
        */